.custom-shape-divider-top-1781701400 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1781701400 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 157px;
}

.custom-shape-divider-top-1781701400 .shape-fill {
    fill: #000000;
}